/* Add this to your CSS file or within a <style> tag */
.pagination>li>a {
    padding: 0.5rem 1rem;
    /* Adjust padding as needed */
    margin: 0.5rem;
    /* Space between items */
}

.pagination>li>a {
    padding: 0.75rem 1.25rem;
    /* Adjust padding for the links */
}

@media (min-width: 992px) {
    #header .header-nav-main nav>ul>li>a {
        padding: 5px 5px;
        margin-left: 4px;
    }
}